# venv folder is user-unique
venv/
# The idea folder is not ignored for some reason, just pretend it doesn't matter
.idea/
*.iml

# Large Data Directories

# General Files
ActivityRecog/resnet-34_kinetics.onnx
Data/example.mp4
